#mainBox {
  width: 350px;
  height: 525px;
  background-color: lightblue;
  padding: 10px;
  margin: auto;
}

#keyboard {
  width: 600px;
  height: 200px;
  background-color: lightblue;
  padding: 10px;
  margin: 10px auto auto auto;
}